  .image-container {
    width: 960px;
    background-color: blue;
    height: 100%;
    min-height: 500px;
    float: left;
    padding-bottom: 12px;
  }

  .bigImage {
    position: absolute;
    width: 1200px;
    height: 800px;
    z-index: 10;
    background-repeat: no-repeat;
  }