  .image-container {
    width: 948px;
    background-color: lightgray;
    height: 100%;
    min-height: 200px;
    float: left;
    padding-bottom: 12px;
  }

  .bigImage {
    position: absolute;
    width: 1200px;
    height: 800px;
    z-index: 10;
    background-color: black;
    background-repeat: no-repeat;
    cursor: pointer;
}

  .hidden {
    height: 1px;
    overflow: hidden;
  }

  .hidePag {
    display: none;
  }

  .black {
    color: black;
  }

  .loading {
    position: absolute;
    width: 1200px;
    height: 800px;
    z-index: 1;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
  }
