.pagination {
  width: 1200px;
  margin: 0 auto 20px;
  padding: 30px 0;
  @mixin clearfix;
}

.pagElement {
  width: 30px;
  height: 30px;
  margin: 1px;
  background-color: green;
  color: white;
  text-align: center;
  line-height: 30px;
  float: left; 
  cursor: pointer;
}