.sidebar {
  float: right;
  width: 230px;
  background-color: lightgrey;
  height: 760px;

  &__filter {
    //background-color: #434343;
    width: 90%;
    height: 50%;
    margin: 0 auto;
  }

  &__content {
    padding: 10px;
    p {
      color: #fff;

    }
    &__radio {
     
    }

    &__author {
      display: block;
    }
  }
}