.sidebar {
  float: right;
  width: 230px;
  background-color: lightgrey;
  height: 760px;

  &__filter {
    width: 90%;
    height: 50%;
    margin: 0 auto;
   p {
     background-color: #c9c9c9;
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 1.2rem;
    }
  }

  &__content {
    padding: 0 10px;

    &__radio {
     
    }

    &__author {
      display: block;
    }
  }
}